.App {
  text-align: center;
}

#message{
  font-size: 26px;
  color: green;
}

.game {
  height: 40vmin;
}

#score{
  font-weight: bolder;
  font-size: 40px;
}

#directions{
  margin-bottom: 5px;
}



